<a href="https://colab.research.google.com/github/KwonYN/TIL/blob/master/PYTHON/TENSORFLOW/2%EB%B6%80_4%EA%B3%BC_Session_placeholder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter2. TensorFlow 기초

 ## 2-4 Session, Placeholder

> ### Import TensorFlow

In [2]:
%tensorflow_version 1.x

import numpy as np
import tensorflow as tf

print("NumPy Version : {}".format(np.__version__))
print("TensorFlow Version : {}".format(tf.__version__))

NumPy Version : 1.17.4
TensorFlow Version : 1.15.0

>### [예제 1] TensorFlow runtime 통한 그래프 실행과정

In [11]:
out_add = tf.add(3,4)
out_multiply = tf.multiply(out_add, 10)

print("out_add = {}".format(out_add))
print("out_multiply = {}\n".format(out_multiply))


sess = tf.Session()

res = sess.run(out_multiply)
print("res = {}".format(res))

sess.close()

# with ~ as를 사용해서 close를 자동적으로 할 수 있도록!!

#with tf.Session() as sess:
#  res = sess.run(out_multiply)
#  print("res = {}".format(res))

out_add = Tensor("Add_8:0", shape=(), dtype=int32)
out_multiply = Tensor("Mul_8:0", shape=(), dtype=int32)

res = 70

>### [예제 2] Placeholder의 사용 예제

In [13]:
# 예제 2-4-15

x_data = 7; y_data = 12; z_data = 10

x = tf.placeholder(tf.int32, shape= (), name= 'x_in')
y = tf.placeholder(tf.int32, shape= (), name= 'y_in')
z = tf.placeholder(tf.int32, shape= (), name= 'z_in')

print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

out_add = tf.add(x, y)
out_multiply = tf.multiply(out_add, z)

with tf.Session() as sess:
  res = sess.run(out_multiply, feed_dict = {x: x_data, y: y_data, z: z_data})

print("res = {}".format(res))

x = Tensor("x_in_8:0", shape=(), dtype=int32)
y = Tensor("y_in_8:0", shape=(), dtype=int32)
z = Tensor("z_in_8:0", shape=(), dtype=int32)
res = 190

>### [예제 3] 여러 개의 data를 일괄처리 하는 Batch 연산의 예

In [8]:
x_batch = [5,9]; y_batch = [7,2]; z_batch = [10,3]

x = tf.placeholder(tf.int32, shape= (2,), name= 'x_in')
y = tf.placeholder(tf.int32, shape= (2,), name= 'y_in')
z = tf.placeholder(tf.int32, shape= (2,), name= 'z_in')

out_add = tf.add(x, y)
out_multiply = tf.multiply(out_add, z)

with tf.Session() as sess:
  res = sess.run(out_multiply, feed_dict = {x: x_batch, y: y_batch, z: z_batch})

print("res = {}".format(res))

res = [120  33]

>### [예제 4] 여러 형태의 입력을 받을 수 있는 placeholder의 정의

In [17]:
x_batch_2 = [3,1]; y_batch_2 = [4,2]; z_batch_2 = [10,3]
x_batch_3 = [1,2,3]; y_batch_3 = [4,5,6]; z_batch_3 = [7,8,9]

x = tf.placeholder(tf.int32, shape= (2,), name= 'x_in')
y = tf.placeholder(tf.int32, shape= (2,), name= 'y_in')
z = tf.placeholder(tf.int32, shape= (2,), name= 'z_in')

out_add = tf.add(x, y)
out_multiply = tf.multiply(out_add, z)

with tf.Session() as sess:
  res_2 = sess.run(out_multiply, feed_dict = {x: x_batch_2, y: y_batch_2, z: z_batch_2})
  print("res = {}".format(res_2))
# Tensor의 shape가 (2,), 즉 요소가 2개인 1차원 배열(?)이기에 두 개의 값을 한 꺼번에 처리 가능!!!

# 하지만 아래의 경우에는, shape가 (3,)임!! shape과 dtype을 지정해주는 것은, "내가 지금 값을 상수로 정의해주지는 않을 건데, 그래도 나중에 실행할 때,
#                                                         그것에 맞는 타입과 shape은 꼭 넣어줄게!!"라는 의미이므로 맞는 타입과 shape을 넘겨주어야 함!!
x = tf.placeholder(tf.int32, shape= (3,), name= 'x_in')
y = tf.placeholder(tf.int32, shape= (3,), name= 'y_in')
z = tf.placeholder(tf.int32, shape= (3,), name= 'z_in')

out_add = tf.add(x, y)
out_multiply = tf.multiply(out_add, z)
  
with tf.Session() as sess:
  res_3 = sess.run(out_multiply, feed_dict = {x: x_batch_3, y: y_batch_3, z: z_batch_3})
  print("res = {}".format(res_3))

res = [70  9]
res = [35 56 81]

In [10]:
x_batch_2 = [3,1]; y_batch_2 = [4,2]; z_batch_2 = [10,3]
x_batch_3 = [1,2,3]; y_batch_3 = [4,5,6]; z_batch_3 = [7,8,9]

x = tf.placeholder(tf.int32, shape= (None,), name= 'x_in')
y = tf.placeholder(tf.int32, shape= (None,), name= 'y_in')
z = tf.placeholder(tf.int32, shape= (None,), name= 'z_in')

out_add = tf.add(x, y)
out_multiply = tf.multiply(out_add, z)

with tf.Session() as sess:
  res_2 = sess.run(out_multiply, feed_dict = {x: x_batch_2, y: y_batch_2, z: z_batch_2})
  print("res = {}".format(res_2))
  res_3 = sess.run(out_multiply, feed_dict = {x: x_batch_3, y: y_batch_3, z: z_batch_3})
  print("res = {}".format(res_3))

res = [70  9]
res = [35 56 81]